button {
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  border: 1px solid var(--primary-500);
  color: var(--text-main);

  &.contained {
    background-color: var(--primary-500);
    color: var(--white);
    border: none;
  }

  &:disabled {
    cursor: not-allowed;
    border-color: transparent;
    background-color: var(--grey-90);
    color: var(--grey-70);
  }
}
